canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* PRESENTATION */
#prescontainer {
  display: block;
  width: 77.5vw;

  min-height: 97.5vh;

  padding-left: 1.75vw;
  padding-right: 7.5vw;

  user-select: none;
  /* tolgo la possibilità di selezionare */
}

[class*="selfp"] {
  word-break: break-word;
  margin: 0;
  font-size: 2.1rem;
  line-height: 2.75rem;
  /* font-family: "IBM Plex Serif", serif; */
  font-family: "century-old-style-std", serif;
  font-style: normal;
}
.padtop {
  margin-top: 1.5rem;
}
.padtop1 {
  margin-top: 12.5vh;
}
span.word {
  word-break: keep-all;
  display: inline-block;
}

/* ANIMAZIONE LETTERINE */
span.char {
  transition: color 0.2s ease, transform 0.2s ease;
}
@keyframes smoothTranslate {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--random-x, 0px), var(--random-y, 0px));
  }
}

/* CONTATTI*/
#contact {
  margin-top: 12.5vh;
  width: 22.5vw;
  gap: 6px;
}

/* CV */
#cv-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.75vw;
  padding-bottom: 3.5vw;
}
.cv-el-value > a {
  margin: 0;
}

.cv-element {
  display: grid;
  grid-template-columns: 5fr 3fr 3fr 1fr;
  align-items: center;
  width: 100%;
}

.cv-el-value {
  display: inline-block;
  padding: 2.5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

#year.cv-el-value {
  text-align: right;
}

/* Academic Publications Grid */
.cv-section.academic-publications .cv-element {
  grid-template-columns: 2fr 0fr 0fr 1fr; /* Title takes more space */
}

/* /////////////////////////////////// */

@media screen and (max-width: 1024px) {
  #prescontainer {
    width: 100vw;
    padding: 0 2.75vw 5vh 2.75vw;
    height: auto;
  }
  [class*="selfp"] {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .padtop {
    margin-top: 2.5vh;
  }
  .padtop1 {
    margin-top: 10vh;
  }

  #contact {
    margin-top: 0;
    padding: 0 2.75vw 10vh 2.75vw;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  #prescontainer {
    height: auto;
    min-height: 100vh;
  }

  [class*="selfp"] {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .padtop1 {
    margin-top: 7.5vh;
  }
  .padtop {
    margin-top: 2.5vh;
  }

  /* CV */
  #cv-container {
    gap: 2.25rem;
    margin-bottom: 15vw;
  }

  .cv-section {
    gap: 0.75rem;
  }

  .cv-element {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .cv-el-value {
    padding: 0.05rem 0;
  }
}
