canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#prescontainer {
  display: block;
  width: 77.5vw;

  height: 100vh;

  padding-left: 1.75vw;
  padding-right: 10vw;

  /*     background-color: black;
    color: white; */
}

[class*="selfp"] {
  word-break: break-word;
  margin: 0;
  font-size: 32px;
  line-height: 2.75rem;
  font-weight: 400;
  font-family: "IBM Plex Serif", serif;
}

.padtop {
  margin-top: 7.5vh;
}
.padtop1 {
  margin-top: 15vh;
  /* margin-top: 10vh; */
}

/* ANIMAZIONE LETTERINE */
span {
  transition: color 0.2s ease, transform 0.2s ease;
}

/* Define a keyframe animation for smooth transition and random movement */
@keyframes smoothTranslate {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--random-x, 0px), var(--random-y, 0px));
  }
}

/* IMMAGINE MARGHE*/
img {
  width: 22.5%;
  height: auto;
}

#marghe {
  position: absolute;

  transform: scaleX(-1);
  bottom: 7.5vh;
  right: 0;

  clip-path: polygon(
    0 100%,
    8% 95%,
    43% 55%,
    73% 63%,
    89% 71%,
    100% 33%,
    100% 0,
    78% 0,
    65% 15%,
    33% 24%,
    0 45%
  );
  shape-outside: polygon(
    0 100%,
    8% 95%,
    43% 55%,
    73% 63%,
    89% 71%,
    100% 33%,
    100% 0,
    78% 0,
    65% 15%,
    33% 24%,
    0 45%
  );

  /* background-color: aqua; */
}

/* CONTATTI*/
#contact {
  margin-top: 12.5vh;
  /* margin-top: 10vh; */
  /* overflow-wrap: break-word; */
  width: 22.5vw;
}

/* /////////////////////////////////// */

@media screen and (max-width: 1024px) {
  #prescontainer {
    width: 100vw;
    padding: 0 2.75vw 5vh 2.75vw;
    height: auto;
  }

  .padtop {
    margin-top: 4vh;
  }
  .padtop1 {
    margin-top: 10vh;
  }

  #marghe {
    position: relative;
    float: right;
    display: block;
    bottom: auto;
    width: 42.5vw;
  }

  #contact {
    margin-top: 0;
    padding: 0 2.75vw 10vh 2.75vw;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  #prescontainer {
    padding: 0 2.5vw 5vh 5vw;
    height: auto;
  }
  [class*="selfp"] {
    font-size: 24px;
    line-height: 2rem;
  }

  .padtop1 {
    margin-top: 5vh;
  }

  #marghe {
    width: 55vw;
  }
}
