
html, body{
    overflow: hidden;
    
    z-index:-2;
}

canvas{
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

#prescontainer {

    width: 75vw;
   /*  
    background-color: black;
    color: white; */

    overflow: auto;
    height: 100vh;
    display: block;

    padding-right:10vh;
    /*     background-color: black;
    color: white; */

}

[class*="selfp"] {
    margin: 0;
    font-size: 2.25rem;
    line-height:2.75rem;
    font-weight: 400;
}

.padtop {
    margin-top: 7.5vh; 
}
.padtop1 {
    margin-top: 10vh; 
}

/* p.selfp{
/*     display:block; */
/*     padding-right:10vh; */
/*     width:auto; 


a {     display:inline-block;
    max-width: fit-content;
padding-right: 0;}
/*

 
;
#ciao {
cursor: url('./assets/manine/ciao_cursor2.png'), auto;
}

#milan {
    cursor: url('./assets/manine/milano_cursor.png'), auto;
}
#draw {
    cursor: url('./assets/manine/disegno_cursor.png'), auto;
} */


img {
    width: 25%;
    height: auto;
}

#marghe {

    /* float: left;
    margin-top: 5vh;
    margin-right: 5vh; */
    /*     background: orange; */
    clip-path: polygon(0 100%, 8% 95%, 43% 55%, 73% 63%, 89% 71%, 100% 33%, 100% 0, 78% 0, 65% 15%, 33% 24%, 0 45%);
    shape-outside: polygon(0 100%, 8% 95%, 43% 55%, 73% 63%, 89% 71%, 100% 33%, 100% 0, 78% 0, 65% 15%, 33% 24%, 0 45%);

    float: right;
    transform: scaleX(-1);
    
    margin-right:-10vh;
}

#draw {
    float: right;
    width: 28%;
    transform: scaleX(-1);
}


#list {
    overflow-wrap: break-word;
    width: 25%;
}




@media screen and (max-width : 1024px) {


    #prescontainer {
        width: 100vw;
        
         padding-right:1vh;
    }

    #marghe{
        
    margin-right:-1vh;
    }
}


@media screen and (max-width:768px) {


    [class*="selfp"] {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .padtop {
        margin-top: 2.5vh; 
    }
    .padtop1 {
        margin-top: 7.5vh; }

    #marghe{ 
    /* margin-top: 2.5vh; */
    /* margin-right: 2.5vh; */
    
    width: 40vw;
    /* margin-left:-1vh; */
    }

 /*    #prescontainer {
        margin: auto 0;
    } */
}