#gridprojects{
/*     width: 85%; */
width: 100%;
    height: 100vh;
    box-sizing: border-box;
    
  padding:4vh;
 padding-bottom: 8vh;
 /*    */
    display: grid;

/*     background-color: chartreuse; */
    gap:2vh;

/*     padding: 1vh; */
    
/*  grid-template-columns: auto auto auto auto auto ;
    grid-template-rows: auto auto auto; */

    grid-template-areas:
    ".  . x1 x1 x9 x9 x9  ."
    "x2 . x1 x1  .  .  x7 x7 "
    "x2 x3 x3 x3 .  .  x7 x7"
    "x2 x6 x6 .  x5 x5 x8 x8"
    " . x6 x6 x4 x4  . x8 x8"
    " . . .  x4 x4  . . .";
  
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);

  overflow:auto;
}

[class*="item"] {
    justify-content: center;
/*     background-color: blue; */
    width:100%;
    height:auto;
  /*   padding: 20px  0; */
/*     max-height:20vh; */
    
    position: relative;
}

.item1 {
	grid-area: x1;
}

.item2 {
	grid-area: x2;
}

.item3 {
	grid-area: x3;
}

.item4 {
	grid-area: x4;
}

.item5 {
	grid-area: x5;
}

.item6 {
	grid-area: x6;
}

.item7 {
	grid-area: x7;
}

.item8 {
	grid-area: x8;
}

.item9 {
	grid-area: x9;
}

img { 
    position: absolute;
/*     top: 0;
    left: 0; */
    width: 90%;
    height: auto;
    z-index: 0;
}

.numero{
 /*    position: absolute;
     top: 0;
    left: 0; */
    z-index: 10;
    text-align: center;/* 
    width: 100%; */
}

.item1 img {
    top:1vh;
}
.item3 img {
    top:-2vh;
}
.item5 img {
    top:-6vh;
    width:85%;
}
.item7 img {
    width:70%;
}

.item8 img {
    top:-1vh;
    width:65%;
}
.item9 img {
    top:0vh;
    width:80%; }


[class*="overlay"] {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 90%;
  height: auto;
  z-index:2;
/* 
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat; */
  
}

[class*="overlay"]:hover {
    display:none;
 }

/* .overlay2 {
    -webkit-mask-image: url("/assets/home/mask/brutmask.png")center center / cover;
    -webkit-mask-repeat: no-repeat;
    background-image: url("/assets/home/mask/brutmask.png");
 
} */

/* .overlay7 {
    -webkit-mask-image: url("/assets/home/mask/risomask.png")center center / cover;
    -webkit-mask-repeat: no-repeat;
    background-image: url("/assets/home/mask/risomask.png");
    width: 90%;
} */


@media screen and (max-width: 992px) {

    body,html {
        overflow: auto;
    }
  
    #gridprojects{
      width: 100vw;
    height: 200vh;

    gap:1vh;
      
      grid-template-areas:
      ". x1 x1"
      ". x1 x1"
      "x3 x3 x3"
      " . . . "
      " x5 x5 ."
      " x5 x5 x2"
      "x8 x8 x2"
      "x8 x8 . "
      "  x9  x9 x9"
      "  x9 x9 x9"
      ". . ."
      ". . ."
      " . x7 x7 "
      " . x7 x7 "
      ". . ."
      ". x4 x4"
      ". x4 x4"
      ". . ."
      "x6 x6 . "
      "x6 x6 . ";
      
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 2fr) repeat(10, 1fr);

    padding:1vh;
    padding-top:6vh;

    }

    
.item3 img {
    top:2vh;}

.item9 img {
    left:20vw;}

    

[class*="overlay"] {
    display:none;
 }
    
    
    }
    
