html,body{
    overflow: auto;
}

#gridprojects {
    width: 100%;
    height: 100vh;
    display: flex;

    flex-direction: row;
    
    overflow: auto;
}

[class*="line"] {
    position: fixed;
    display:flex;
    height:100%;
    flex-direction: column;
    justify-content: space-between;
    bottom: -100%;
    width: 25%;
    padding-bottom: 15vh;
    /* overflow: scroll; */
}
    
/*     border-left: 1px black solid; */

.column-reverse{
    /* position: fixed;
    left: 25%; */
    bottom: 0;
}
.line2{
    left:25%
}
.line3{
    left:50%
}
.line4{
    left:75%
}

[class*="item"] {
    justify-content: center;
    position: relative;

    display: block;
    width: 100%;
    height:auto;
}

img {
    position: relative;
    display: block;
   /*  height: 100%;
    width:auto; */
    width: 100%;
    height:auto;
    /* max-height: 100%; */
    /* max-width: 100%; */
    z-index: 0;
}


[class*="item"] a {
   border:none;
}


@media screen and (max-width: 1024px) {

    #gridprojects {
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        padding-right: 0;
    }

}

@media screen and (max-width: 768px) {

    body,
    html {
        overflow: auto;
    }

    #gridprojects {
        
        height: 100vh;
/* 
        gap: 1vh;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 2fr) repeat(10, 1fr);
 */
        padding: 5vh 0 15vh 1vh;

    }

    }

   
    @media screen and (max-width: 600px) {

        #gridprojects {
            height: 100vh;


        }
    }