#proj-container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* 1/3 e 2/3 */
  width: 100%;
  margin-top: 10vh;
  height: 60vh;
}
.proj-el {
  display: flex;
  flex-direction: column;
  padding: 0 2.75vw;
  gap: 1vh;
  line-height: 1.25rem;
}

/* ELEMENTS */
#proj-title-descr {
  max-width: 90%;
}
#proj-title {
  line-height: 3rem;
  font-size: 2.5rem;
  font-family: "century-old-style-std", serif;
}
#info {
  margin-bottom: 3vh;
}
#proj-info {
  max-width: 75%;
  gap: 3vh;
}

/* GALLERY  */
.gallery-item {
  width: 100vw;
  background-color: white;
}
/* .gallery-item > img {
  height: 100vh;
} */
.gallery-item:has(video) {
  background-color: black;
}
.gallery-item.side-by-side,
.gallery-item.contain {
  background-color: white;
  height: 100vh;
}

.full img,
.full .autoplay {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.full .controls {
  object-fit: contain;
  height: 100vh;
  width: 100%;
  object-position: center;
}

.contain img,
.contain video {
  padding: 0.75rem;
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  padding: 0.75rem;
  box-sizing: border-box;
}

.side-by-side > img,
.side-by-side > video {
  min-width: 0;
  object-fit: cover;
}

/* ////////////////// */

@media screen and (max-width: 768px) {
  #proj-container {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 5vh;
    padding-bottom: 5vh;
  }

  .proj-el {
    padding: 0 2.75vw;
  }
  #proj-title {
    line-height: 2.5rem;
  }

  /* Gallery */
  .gallery-item.contain {
    height: 50vh;
  }
  .gallery-item.contain:has(video) {
    height: 80vh;
  }
  .gallery-item.contain:has(.h-100) {
    height: 80vh;
  }
  .gallery-item.side-by-side {
    height: auto;
  }

  .gallery-item > img {
    height: 50vh;
  }
  .gallery-item > .autoplay {
    height: 80vh;
  }
  .gallery-item > .controls {
    height: 100vh;
    object-fit: contain;
  }

  .gallery-item:has(.h-100) {
    object-fit: contain;
  }
  .contain img,
  .contain video {
    padding: 2.75vw;
    width: calc(100% - 5.5vw);
  }
  .side-by-side {
    gap: 2.75vw;
    padding: 2.75vw;
    flex-direction: column;
  }
  .h-100 {
    height: 100vh !important;
    object-fit: contain !important;
  }
  .h-50 {
    height: 50vh !important;
  }
  .h-30 {
    height: 30vh !important;
  }
}
