#proj-container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* 1/3 e 2/3 */
  width: 100%;
  margin-top: 12.5vh;
  height: 60vh;
}
.proj-el {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1vh;
  line-height: 1.25rem;
}

/* ELEMENTS */
#proj-title-descr {
  max-width: 90%;
}
#proj-title {
  line-height: 3rem;
  font-size: 2.5rem;
  font-family: "century-old-style-std", serif;
}
#info {
  margin-bottom: 3vh;
}
#proj-info {
  max-width: 75%;
  gap: 3vh;
}
.gallery-item > img {
  height: 110vh;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.gallery-item {
  width: 100vw;
  background-color: white;
}
.gallery-item:has(video) {
  background-color: black;
}

.gallery-item > video {
  height: 110vh;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 768px) {
  #proj-container {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 5vh;
    padding-bottom: 5vh;
  }

  .gallery-item > img {
    height: 40vh;
  }
}
