:root {
  --screen-w: 100vw;
  --screen-h: 100vh;
}

@font-face {
  font-family: "Akzidenz"; /* Name your font family */
  src: url("assets/AG57-Regular.otf") format("opentype"); /* Locate the .ttf file within your directory*/
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;

  background-color: #ffffff;

  font-family: "Akzidenz", sans-serif;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.95rem;
  font-weight: 300;
  color: black;

  /* overscroll-behavior: contain;
  overflow: hidden; */
  overflow-x: hidden;

  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

div {
  display: flex;
  flex-direction: column;
  float: left;

  box-sizing: border-box;
}

a {
  display: inline;
  color: black;
  margin: 2px 0;
  width: fit-content;
  text-decoration: underline;
}
a:hover {
  /* color: #8e8e8e; */
  transition: color 0.1s ease;
}
a.nav:hover {
  color: #a15807;
}
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: auto;
}

/* ELEMENTI NAVIGAZIONE IN ALTO */
.nav {
  padding: 1.75vw;
  background-color: transparent;
  white-space: nowrap;
  color: #fff;
  mix-blend-mode: difference;
  text-decoration: none;

  vertical-align: baseline;

  z-index: 10;
  position: fixed;
}
#works {
  right: 0;
  text-align: right;
}

/* CATEGORIE */
.label {
  /* font-style: italic; */
  color: #8e8e8e;
}
i {
  display: inline;
}

/* ////////////////////////// */

@media screen and (max-width: 1024px) {
  html,
  body {
    /* font-size: 18px; */
    overflow-y: scroll;
  }

  .nav {
    padding: 1vw 2.75vw;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 18px;
  }
  .nav {
    width: 100%;
    padding: 1vw;
    margin: auto;
    text-align: center;
    /* display: none; */
  }

  #works {
    position: fixed;
    text-align: center;
    bottom: 1.75vw;
  }
}
