
/* per commentare e non shift + alt + a */

html, body {
  margin: 0;
  padding: 0;
  position: relative;

  background-color: #fff;
  
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.9rem;
  
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

div {
  display: flex;
  flex-direction: column;
  float:left;

  box-sizing: border-box;
  padding: 1vh;
}


a { 

  color: black;
  border-bottom: solid 1px black;
  padding: 1px;
  text-decoration: none;
  width: fit-content;
}

/* ELEMENTI NAVIGAZIONE IN ALTO */

.nav{
  font-weight: 100;
  background-color: transparent;
  white-space: nowrap;
  color: #fff;
  
  mix-blend-mode: difference;

  z-index: 10;
  position: fixed;
  margin:1vh 0;

  font-size: 0.9rem;
}

.nav a {
  color: #fff;
  border-bottom: solid 1px white;
  mix-blend-mode: difference;
}

#io {
  padding-left: 1vh;
}

#works {
  padding-right: 1vh;
  right:0;

  text-align: right;
}

#contacts {
  bottom:0;
/*   right:0;
  padding-right: 1vh;
  text-align: right; */
  padding-left: 1vh;
}
.contacts{
margin:0 1vh;
}

 
#list{
  padding-top:10vh;
  overflow: hidden;
  width: 15%;
  height: 100vh;
  
  border-left: solid 1px black;

 /*  background-color:burlywood; */
}


.listelement{
  width:100%;
  position: relative;
  padding-top: 1vh;
  margin: 0;
}

.listanno{
  padding-top: 4vh;
  font-style: oblique;
  font-size: 0.7rem;
/*   border-bottom: solid 1px black; */
}


@media screen and (max-width: 992px) {
  
#list{
  display: none;
}
#works {
  padding-right: 2vh;
}

}


@media screen and (max-width: 768px) {
      
  #list{
    display: none;
  }

  .nav{
    margin:1vh 1vh;
    font-size: 0.8rem;
  }

  #works {
    padding-right: 1vh;
  }
  #contacts {
    box-sizing: border-box;
    text-align: center;
    width:100vw;
  }

}